<mat-card>
  <h2 style="margin-left: 20px;">My Sessions</h2>

  <div class="header-container">
    <mat-form-field appearance="fill" class="date-filter">
      <mat-label>Choose Date</mat-label>
      <input matInput [matDatepicker]="filterPicker" (dateChange)="onFilterDateChange($event.value)" placeholder="Choose date" />
      <mat-datepicker-toggle matSuffix [for]="filterPicker"></mat-datepicker-toggle>
      <mat-datepicker #filterPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="sticky-notes-board">
    <div
      class="sticky-note"
      *ngFor="let session of sessions"
      [ngStyle]="{ 'background-color': getRandomColor(session.id || 1) }"
    >
      <div class="note-header">
        <strong>{{ session.date }} {{ session.startTime }} - {{ session.endTime }}</strong>
      </div>
      <div class="note-body">
        <p><b>Game:</b> {{ getGameName(session.gameId) }}</p>
        <p><b>Players:</b> </p>
        <div *ngFor="let user of session.userSessionEmails">
          <p>{{ user }}</p>
        </div>
      </div>
      <div class="note-actions">
        <button mat-icon-button class="primary-icon-button" (click)="joinSession(session)">
          <mat-icon>control_point</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>